{% extends 'base.html' %}

{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
			Nos te enviamos um email com instruções para configurar sua senha, se uma conta existe com o email fornecido.
			Você receberá a mensagem em breve.
			
		  </p>
		  <p class="m-auto p-2">
			Se você não recebeu um email, por favor certifique-se que você forneceu o endereço que você está cadastrado,
			 e verifique sua pasta de spam.
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'home' %}">Return to home page</a></p>
	</div>
</div>

{% endblock %}